@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Адрес
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pashkaoneingress@gmail.com">Создатель</a><br />
</address>