@using FormAuth.Models
@model Order
@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

<h3>Подтвердите заказ</h3>
<p></p>
Детали заказа:
<br />
<form>
    @ViewData["ID"]
    <hr />
    @ViewData["id1"]
    <hr />
    @ViewData["id2"]

</form>
